body{
    margin: 0 auto;
}
/* shared Styles */
.btn_color{
    background-color: #4E47FF;
    border-radius: 5px;
    border: none;
    font-family: Raleway;
}
.btn_color:hover{
    background-color: tomato;
    font-size: large;
}
.user_type{
    font-size: 80px;
    margin: 0 auto;
    font-family: Inter;
    color: #4E47FF;
}
.user_count{
    color: #000000;
    font-size: 20px;
    opacity: 50%;
    font-family: Inter;
}
.user_id{
    margin: 0 auto;
    display: flex;
    height: 40px;
}
.input_style{
    height: 40px; 
    width: 500px;
    border-radius: 5px;
    border: 1px solid rgba(142, 142, 142, 0.203);
    background-color: white;
    margin-top:15px;
    margin-bottom: 15px;
    padding: 10px;
}
.message_label{
    font-family: Inter;
}

/* end shared styles */
.user_comment_container{
    display: flex;
    margin: 0 auto;
    gap: 30px;
    padding-top: 20px;
}
.user_comment_box{
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 15px;
}
.user_name{
    padding-left: 10px;
}
.name{
    margin: 0 auto;
    opacity: 70%;
}
.date{
    margin: 0 auto;
    opacity: 30%;
}
/* star header section  */
.header{
    background-image: url(../Images/Hero-bg.png);
    height: 700px;
    width: 100%;
    margin: 0 auto;
}
.nav_bar{
    margin: 0 auto;
    max-width: 1340px;
    height: 150px;
}
.banner{
    padding-top: 50px;
}
.nav_bar li{
    display: inline;
}
.logo{
    color: #4E47FF;
    font-weight: bold;
    font-size: 34px;
    float: left;
    font-family: Inter;
}
.nav_button{
    float: right;
}
.nav_button a{
    text-decoration: none;
    color: white;
}
.btn_signUp{
    height: 50px;
    width: 135px;
}
.banner_title_btn{
    margin: 0 auto;
    height: 240px;
    width: 900px;
    justify-items: center;
}
.btn_focused{
    height: 50px;
    width: 150px;
    color: white;
    font-weight: bold;
    margin-left: 370px;

}
.banner_title1{
    color: #252432;
    font-size: 65px;
    font-weight: bold;
    font-family: Raleway;
}
.banner_title2{
    color: #252432;
    font-size: 65px;
    font-weight: bold;
    font-family: Raleway;
}
/* end header tyles */

.action_container{
    height: auto;
    width: 1340px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-top: 100px;
}
.action_title{
    width: 516px;
}
.action_head{
    margin: 0 auto;
    font-weight: bold;
    font-size: 45px;
    color: #252432;
}
.action_description{
    font-size: 24px;
    font-family: Raleway;
    color: #252432;
}
.action_button{
    font-size: 16px;
    font-weight: bold;
    width: 250px;
    color: white;
    padding: 15px;
}
/* end action styles */
.users_containetr{
    height: auto;
    width: 1340px;
    margin: 0 auto;
    justify-items: center;
    margin-top: 100px;
    background-color: #EBF1F6;
    padding-top: 30px;
    border-radius: 24px;
}
.user_title{
    font-family: Raleway;
    font-weight: bold;
    font-size: 40px;
}
.user-type_container{
    display: flex;
    margin: 0 auto;
    gap: 200px;
}
.users_head_title h1{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding-top: 50px;
    font-weight: bold;
    font-size: 45px;
    font-family: Raleway;
}
.user_comment_container{
    height: auto;
    width: 1340px;
    margin: 0 auto;
    justify-items: center;
    padding-top: 50px;
}
/* start Ready To Focus better */
.ready_focus_container{
    margin: 0 auto;
    justify-items: center;
    height: 620px;
    width: 1340px;
    background-color: white;
    border-radius: 10px;
    padding: 20px 0px;
    margin-top: 80px;
}
.focus{
    margin: 0 auto;
}
.focus_btn{
    margin: 0 auto;
    height: 50px;
    width: 200px;
    color: white;
}
.ready_focus_img{
    margin: 0 auto;
    width: 840px; 
    height: 370px; 
    border-radius: 50px;
}
.ready_focus_title{
    font-weight: bold;
    font-size: 50px;
    font-family: Raleway;
}
.focus_description{
    opacity: 50%;
}
.message_container{
    margin: 0 auto;
    height: auto;
    width: 1340px;
    display: flex;
    justify-content: center;
    gap: 50px;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}
.messege_title{
    width: 600px;
}
.messege_title_head{
    font-size: 90px;
    font-family: Raleway;
}
.form_container{
    display: block;
    width: 500px;
}
.btn_msg{
    width: 525px;
    padding:20px;
    color: white;
    font-weight: bold;
    margin-top: 20px;
}
.msg_text{
    font-family: Raleway;
    border: 1px solid rgba(142, 142, 142, 0.203);
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}
/* end main part */

/* start footer part */
.footer_container{
    margin: 0 auto;
    display: block;
    justify-items: center;
    text-align: justify;
    justify-content: center;
    width: 460px;
    padding: 20px;
    background-color: none;
}
.footer_logo{
    font-size: 100px;
    font-weight: 900;
}
.footer_details{
    margin: 0 auto;
    color: #8987A1;
}
.footer_menu ul li{
    display: inline;
    padding: 10px;
}
.footer_menu ul li a{
    text-decoration: none;
    color: #8987A1;
}



